<ion-header [translucent]="true">
	<ion-toolbar color="primary">
		<ion-title>
			<h1>About Developer</h1>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<!-- <div>
		<ion-card>
			<ion-img src="assets/ayush.jpeg"></ion-img>
			<ion-card-content>
				This Application is developed by Ayush Mishra using ionic4 this app is
				supported in the android and ios devices. This is a news Application
				where you can see the latest news from different field such as
				Sports,Business<br />
				<hr />
				<ion-row>
					<ion-col offset="4"><b>Social Media</b></ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<a href="https://www.instagram.com/__ayush_mishra__/"
							><ion-img
								src="assets/social/insta.png"
								style="width: 50px; height: 50px"
							></ion-img
						></a>
					</ion-col>
					<ion-col>
						<a href="mailto:ayushmishra0810@gmail.com">
							<ion-img
								src="assets/social/gmail.png"
								style="width: 50px; height: 50px"
							></ion-img
						></a> </ion-col
					><ion-col>
						<a href="https://www.linkedin.com/in/ayush-mishra-1803/"
							><ion-img
								src="assets/social/linkedin.png"
								style="width: 50px; height: 50px"
							></ion-img
						></a>
					</ion-col>
				</ion-row>
			</ion-card-content>
		</ion-card>
	</div> -->
	<div *ngFor="let news of News">
		<ion-card>
			<ion-img [src]="news.urlToImage"></ion-img>

			<ion-card-header>
				<ion-card-subtitle>{{news.title}}</ion-card-subtitle>
			</ion-card-header>
			<ion-card-content>
				<ion-label><b>Content :</b></ion-label
				>{{news .content}}
			</ion-card-content>
			<div style="margin: auto; padding: 10px">
				<ion-button (click)="readMore(news)"> Read More </ion-button>
			</div>
		</ion-card>
	</div>
</ion-content>
