<ion-header>
	<ion-toolbar>
		<ion-buttons>
			<ion-back-button defaultHref> </ion-back-button>
		</ion-buttons>
		<ion-title><h1>{{news.source.name}}</h1></ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div>
		<ion-grid>
			<ion-row>
				<ion-col
					><ion-label><b>{{news.title}}</b></ion-label></ion-col
				>
			</ion-row>
			<div>
				<ion-img [src]="news.urlToImage"></ion-img>
			</div>
		</ion-grid>
		<ion-grid>
			<ion-row
				><ion-label><h1>Content</h1></ion-label></ion-row
			>
			<ion-row>{{news.content}}</ion-row>
		</ion-grid>
		<ion-grid
			><ion-row><h1>Description</h1></ion-row
			><ion-row>{{news.description}}</ion-row></ion-grid
		>
	</div>

  <div style="margin:auto ;padding:10px" >
    <ion-label><b>Published At- {{news.publishedAt|date}}</b></ion-label
	><br />
	<ion-label><b>News By- {{news.source.name}}</b></ion-label
	><br />
	<ion-label><b>Author- {{news.source.author}}</b></ion-label
	><br />
	<ion-label
		><b>Read More -<a [href]="news.url">{{news.url}}</a></b></ion-label
	>
    </div>
</ion-content>
